body{
    background-image: url('bg.jpeg');
    background-attachment: fixed;
    background-position: center;
}
h1{
    text-shadow: 4px 10px 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
fieldset{
    border: 1px ridge black;
    height: auto;
    width: 220px;
    border-radius: 5px;
    box-shadow: 4px 10px 20px;
    margin: 0 auto;
    text-align: center;
}
input{
    border: black 1px solid;
    height: 25px;
    border-radius: 15px;
    box-shadow: 3px 5px 20px;
    opacity: 0.4;
}
button{
    background-color: rgb(102, 73, 141);
    box-shadow: 3px 10px 20px;
    border-radius: 8px;
    height: 25px;
    border: black solid 2px;
}
img{
    height: 50px;
    width: 50px;
    background-color: transparent;
}
select{
    border: black 1px solid;
    width: 175px;
    height: 27px;
    border-radius: 15px;
    box-shadow: 3px 5px 20px;
    opacity: 0.4;
}
a{
    color: black;
    text-decoration: solid;
}
::placeholder{
    color: black;
    font-size: 1em;
    padding: 5px;
    margin-left: 10px;
}
